// about

.about {
	padding-top: 103px;
	padding-bottom: 120px;
	background: #fff url(../img/aboutUs-bg.png) no-repeat bottom;
	background-size: cover;
	text-align: center;
	&__title {
		color: #000;
		margin-bottom: 27px;
	}
	&__text {
		margin-bottom: 65px;
		max-width: 960px;
		margin-left: auto;
		margin-right: auto;
	}
	&__video {
		width: 100%;
		min-height: 500px;
		height: auto;
		background-color: #000000;
		background-size: cover;
		img {
			max-width: 100%;
			height: auto;
		}
	}
}