// banner

.banner {
	padding-top: 204px;
	background-color: #121212;
	min-height: 783px;
	position: relative;

	&__slider {

	}
	&__block {

	}
	&__content {

	}
	&__subTitle {
		color: #fff;
		letter-spacing: -2.03px;
		margin-bottom: -30px;
	}
	&__title {
		font-size: 170px;
		font-weight: 400;
		text-transform: uppercase;
		font-family: 'Flow';
		color: $yellow;
		letter-spacing: -2px;
		margin-bottom: 33px;
	}
	&__text {
		color: #fff;
		max-width: 700px;
		font-size: 24px;
		font-weight: 400;
		line-height: 46px;
	}
	&-arrow {
		font-size: 0;
		position: absolute;
		top: 370px;
		width: 50px;
		height: 50px;
		border: 2px solid #ffffff;
		border-radius: 50%;
		display: flex;
		align-items: center;
		justify-content: center;
	}
	&-prev {
		left: 92px;
	}
	&-next {
		right: 93px;
	}
}

// media queries


@media (max-width: $xxl) {

	.banner__content {
		max-width: 970px;
		margin: auto;
	}
	.banner-prev {
		left: 35px;
	}
	.banner-next {
		right: 35px;
	}

}

@media (max-width: $xl) {

	.banner__content {
		max-width: 700px;
	}

}

@media (max-width: $lg) {

	.banner {
		padding-top: 150px;
		min-height: 700px;
		position: relative;
	}

	.section__title {
		font-size: 50px;
	}
	.banner__subTitle {
		margin-bottom: -15px;
	}
	.banner__title {
		font-size: 140px;
	}
	.banner__text {
		font-size: 20px;
		line-height: 38px;
	}
	.banner-arrow {
		display: none;
	}
	.slick-dots {
		position: absolute;
		bottom: 50px;
		left: 50%;
		transform: translateX(-50%);
		display: flex;
		justify-content: center;
		align-items: center;
		li {
			margin: 0 8px;
			button {
				width: 25px;
				height: 25px;
				background: #fff;
				border-radius: 50%;
				font-size: 0;
			}
		}
		.slick-active {
			button {
				background: $yellow;
			}
		}
	}

}

@media (max-width: $md) {

	.banner {
	    padding-top: 110px;
	    min-height: 570px;
	    padding-bottom: 110px;
	}
	.banner__subTitle {
		margin-bottom: -5px;
	}
	.section__title {
	    font-size: 40px;
	}
	.banner__title {
		font-size: 120px;
		margin-bottom: 25px;
	}
	.banner__text {
	    font-size: 16px;
    	line-height: 34px;
	}

}




@media (max-width: $sm) {

	.banner {
		padding-top: 80px;
		min-height: 450px;
		padding-bottom: 80px;
	}
	.banner__subTitle {
		margin-bottom: -5px;
	}
	.section__title {
	    font-size: 28px;
	}
	.banner__title {
		font-size: 80px;
		margin-bottom: 20px;
	}
	.banner__text {
	    font-size: 14px;
	    line-height: 25px;
	}

}