// base

@import url('https://fonts.googleapis.com/css?family=Poppins:100,400,500,600,700,900');

* {
	margin: 0;
	padding: 0;
	line-height: 1;
	box-sizing: border-box;
}
li {
	list-style-type: none;
}
a {
	text-decoration: none;
}

button {
	outline: none;
	border: none;
	display: block;
	background: transparent;
	cursor: pointer;
}

body {
	color: #333333;
	font-size: 14px;
	font-family: 'Poppins', sans-serif;
	font-weight: 400;
}
h1, h2, h3,h4, h5, h6 {
	font-weight: 700;
}

.container {
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 15px;

}


.section-title {
	// ...
}

