// contact

.contact {
  padding-top: 95px;
  padding-bottom: 122px;
  background-color: #020202;
  &__title {
    text-align: center;
    color: #fff;
    letter-spacing: 0;
    margin-bottom: 28px;
    span {
      color: $yellow;
    }
  }
  &__text {
    text-align: center;
    color: #fff;
  }
  &__form {
    .form-field {
      margin-top: 58px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    &-input {
      padding: 19px 40px;
      background-color: #ffffff;
      height: 60px;
      max-width: 552px;
      width: 100%;
      flex-shrink: 0;
      border-top-left-radius: 30px;
      border-bottom-left-radius: 30px;
      border: none;
      color: #aaaaaa;
      font-size: 18px;
    }
    &-submit {
      flex-shrink: 0;
      padding: 21px 82px;
      background-color: $yellow;
      color: #fff;
      border-top-right-radius: 30px;
      border-bottom-right-radius: 30px;
      font-size: 18px;
      text-transform: uppercase;
      letter-spacing: -1px;
      transition: all 0.2s;
      &:hover {
        transition: all 0.2s;
        background: #efc137;
      }
    }
  }

}