// meet

.meet {
	padding-top: 74px;
	padding-bottom: 130px;
	background: #ffcf3c;

	&__title {
		color: #000;
		text-align: center;
		margin-bottom: 27px;
		font-family: "Myriad Pro";
		font-weight: 400;
	}
	&__text {
		text-align: center;
		color: #000000;
		font-size: 18px;
		line-height: 34px;
		margin-bottom: 62px;
		font-family: "Myriad Pro";
	}
	&__wrapper {
		display: flex;
		flex-wrap: wrap;
	}
	&__block {
		max-width: 370px;
		width: 100%;
		margin-right: 20px;
		height: 500px;
		border-radius: 8px;
		background: #fff;
		&:nth-child(3n+3) {
			margin-right: 0;
		}
		&-img {
			height: 210px;
			border-top-right-radius: 8px;
			border-top-left-radius: 8px;
			background: #000;
			img {

			}
		}
		&-content {
			text-align: center;
			padding: 0 35px 50px 35px;
		}
		&-name {
			margin-top: 38px;
			color: #000000;
			font-size: 24px;
			line-height: 46px;
		}
		&-position {
			font-size: 12px;
			letter-spacing: 2.4px;
			color: $yellow;
			text-transform: uppercase;
		}
		&-text {
			margin-top: 25px;
			margin-bottom: 27px;
			color: #aaaaaa;
			font-size: 14px;
			line-height: 24px;
		}
		&-social {
			display: flex;
			justify-content: center;
			align-items: center;
			a {
				display: block;
				margin: 0 12px;
				transition: all 0.2s;
				&:hover {
					opacity: 0.6;
					transition: all 0.2s;
				}
			}
			i {
				font-size: 20px;
				color: $yellow;
			}
		}
	}
}